
body {
    background-color: #000000c9;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #36b155;
    color: rgb(255, 249, 249);
    font-family: "Bai Jamjuree", sans-serif;
}